/******* Base Styles *******/
body {
    font-family: 'Montserrat', sans-serif;
}

.script {
    font-family: 'Galada', cursive;
    text-transform: lowercase;
}

h1, h2, h3 {
    font-weight: bold;
    text-transform: uppercase;
}

.green {
    color: #77a466;
}

/******* Grid *******/
.full-width {
    width: 1200px;
    margin: 0 auto;
    float: left;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/******* Header *******/
header h1 {
    padding: 25px 20px;
    font-size: 30px;
}

nav {
    float: right;
    padding: 35px 0px 35px 20px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #77a466;
    padding-left: 10px; 
}

img {
    padding: 0px 20px;
}

/******* Intro Section *******/

/******* Details Section *******/

/******* Footer *******/
footer {
    text-align: center;
}
h2 {
    font-size: 16px;
}